# --- HLStatsX Database Settings ---
DB_ROOT_PASS=hlstats_root_pass
DB_NAME=hlstatsx
DB_USER=hlstatsx
DB_PASS=hlstatsx_password
DB_PORT=3306

# --- HLStatsX General Settings ---
# Secret key for communication (must match your hlstatsx panel / SuperLogs config. PROXY_KEY secret, dummy_key, change it!)
PROXY_KEY=d7fe18f9c4d10180f2aa6393
# External port for the web interface
WEB_PORT=80

# --- Network Routing ---
# Internal Docker hostname of the Daemon container (used for inter-container communication)
DAEMON_HOST=hlx-daemon

# --- External Communication Ports ---
# UDP & TCP (HTTP) port for the Perl Daemon (Direct log receiver)
DAEMON_PORT=27500
# UDP port for the Forwarder (Where game servers send their logs)
FORWARDER_PORT=26999
# Uncomment the line below ONLY if you want to enable the Legacy UDP Forwarder container:
# COMPOSE_PROFILES=forwarder

# --- Game Server Identification ---
# The IP and Port of the game server being monitored (used for log identification)
GAME_SERVER_IP=192.168.1.1
GAME_SERVER_PORT=27015